@import "_style.scss";
@import "_mixins.scss";
@import "_extends.scss";

body {
  background-color: $bg;
}

h2 {
  color: $titleFont;
}
// a:nth-child(odd) {
//   @include aLink(white);
// }
// a:nth-child(even) {
//   @include aLink(green);
// }
.a_div {
  a:nth-child(odd) {
    @include aLink("odd");
  }
  a:nth-child(even) {
    @include aLink("even");
  }
}

.extends_div {
  a {
    @extend %btn;
    text-decoration: none;
  }

  button {
    @extend %btn;
    border: none;
  }
}
