$sideSpace: 140px;
$headerHeight: 155px;

$black: black;
$white: white;
$beige: #f3ede8;
$textFont: #757371;
$buttonColor: #414141;
$buttonColorBeige1: #f3ede8;
$buttonColorBeige2: #fbf7f6;
$contentMargin: 80px;
